<footer class="flex-footer">
    <button class="button-footer"><i class="iconf fas fa-backward"></i></button>
    <button class="button-footer"><i class="iconf fas fa-sync-alt"></i></button>
    <button class="button-footer"><i class="iconf fas fa-home"></i></button>
    <button class="button-footer"><i class="iconf fas fa-forward"></i></button>
</footer>