<footer class="flex-footer">
    <button class="button-footer"><i class="iconf fas fa-angle-double-left"></i></button>
    <button class="button-footer"><i class="iconf fas fa-id-card"></i></i></button>
    <button class="button-footer"><i class="iconf fas fa-archive"></i></button>
    <button class="button-footer"><i class="iconf fas fa-angle-double-right"></i></button>
</footer>