<footer class="flex-footer">
    <button class="button-footer"><i class="iconf fas fa-angle-double-left"></i></button>
    <button class="button-footer"><i class="iconf fas fa-search"></i></button>
    <button class="button-footer"><i class="iconf fas fa-address-card"></i></button>
    <button class="button-footer"><i class="iconf fas fa-angle-double-right"></i></button>
</footer>