<form class="user-form" action="">
    <input class="input-name" type="text" placeholder="Enter your first name">
    <input class="input-about" type="text" placeholder="About yourself...">
    <input class="input-url" type="text" placeholder="Image URL">
    <button class="add-button"></i>add a new user to the library</button>
</form>