<header class="flex-head">
    <button class="button-head"><i class="iconh fas fa-user-plus"></i></button>
    <button class="button-head"><i class="iconh fas fa-bars"></i></button>
    <button class="button-head"><i class="iconh fas fa-bookmark"></i></button>
    <button class="button-head"><i class="iconh fas fa-user-circle"></i></button>
</header>