<section class="section-container">

</section>

<form class="user-form" action="">
    <input class="input-name" type="text" placeholder="Enter first name">
    <input class="input-about" type="text" placeholder="About yourself...">
    <input class="input-url" type="text" placeholder="URL">
    <button class="add-button">Add card</button>
</form>



<template class="template-container">
    <h2>#h2#</h2>
    <p>#text#</p>
    <img src="#imgurl#" alt="">
</template>