.flex-footer {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: teal;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-footer {
  height: 3em;
  width: 3em;
  border: 0;
  z-index: -1;
  background-color: teal;
  cursor: pointer;
}

.iconf {
  font-size: 2em;
  color: white;
}

.iconf:hover,
.iconf:active,
.iconf:visited {
  font-size: 2em;
  color: goldenrod;
}
