body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 60px;
}

img {
  width: 200px;
  height: 200px;
}

// grid-template-areas:
// "h h h h h h h h h h h h"
// "m m m m m m m m m m m m"
// "m m m m m m m m m m m m"
// "m m m m m m m m m m m m"
// "m m m m m m m m m m m m"
// "m m m m m m m m m m m m"
// "f f f f f f f f f f f f";
