:root {
  --basic-color: white;
  --main-color: teal;
  --background: whitesmoke;
  --contrast-color: #145252;
  // --shaddow-color: rgba(0, 0, 0, 0.2);
  --light-color: cadetblue;
  // -- button24, 138, 138)
}

*,
html,
body {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
body {
  background: var(--background);
}

button:focus {
  outline: none;
}
